<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Domoftware"
        tools:targetApi="31">
        <activity
            android:name=".CalifiActivity"
            android:exported="false" />
        <activity
            android:name=".CompaActivity"
            android:exported="false" />
        <activity
            android:name=".SincrActivity"
            android:exported="false" />
        <activity
            android:name=".contactActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigActivity"
            android:exported="false" /> <!-- SplashScreenActivity -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Actividad de bienvenida (BienvActivity) -->
        <activity
            android:name=".BienvActivity"
            android:exported="true" /> <!-- Actividad de inicio de sesión (LoginActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Actividad de registro (RegisterActivity) -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
    </application>

</manifest>